.error{
    background: $errorColor;
    color:white;
}

@for $i from 12 to 21
{
    .paragraph-#{$i}{
        font-size: #{$i}px;

    }
    .paragraph-#{$i}--alert{
        font-size: #{$i}px;   
        color:$errorColor;
    }
}