.c-navigation {
    -webkit-box-shadow: 0px 1px 40px 0px $borderColor;
    -moz-box-shadow: 0px 1px 40px 0px $borderColor;
    box-shadow: 0px 1px 40px 0px $borderColor;
    &__list {}

    &__item {
        line-height: 3rem;
        color:$fontColor;
        -webkit-box-shadow: 0px 1px 12px 1px $borderColor;
        -moz-box-shadow: 0px 1px 12px 1px $borderColor;
        box-shadow: 0px 1px 12px 1px $borderColor;
        margin-right:-4px;
        &--centered{
            vertical-align: center;
            text-align:center;
        }
    }

    &__link {
        display:block;
    }

    &__link:hover {
        cursor: pointer;
        background-color:$backgroundColorNavigation;
        border-top: 3px solid $fontColor;
    }
}

@media (max-width:760px)
{
    .c-navigation__item{
    width: calc(1/5*100%) !important;
    }
}
